@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary: #EA40A4;
    --business: #3A82EE;
    --personal: var(--primary);
    --light: #EEE;
    --grey: #AAA;
    --dark: #313154;
    --danger: #ff5b57;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personal-glow: 0px 0px 4px rgba(325, 64, 164, 0.75);
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}
h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}
.bloco {
   width: 550px;
   background: transparent;
   border-radius: 3px;
   border: 2px solid rgba(255, 255, 255, 0.5);
   box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(2px);
   margin: 10px;
}


/* -------------------------------- */
/* -------- CREATE TO DO ---------- */
/* -------------------------------- */
.criar-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

.criar-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}
.criar-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}
input[type=radio],
input[type="checkbox"] {
    display: none;
}

/* RADIO */
.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}
.bubble.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.bubble::after {
    content: "";
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: var(--business);
    box-shadow: var(--business-glow);
    transition: 0.2s ease-in-out;
}
.bubble.bubble.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.criar-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;
}

.criar-todo input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #FFF;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.criar-todo input[type="submit"]:hover {
    background-color: #b6327f;
}

/* -------------------------------- */
/* -------- TO DO CRIADO ---------- */
/* -------------------------------- */
.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-item .todo-content {
   flex: 1 1 0%;
}

.todo-item .todo-content input {
    color: var(--dark);
    font-size: 1.125rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

/* EDIT - BUTTON */
.todo-item .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--primary);
}
.todo-item .actions .edit:hover {
    background-color: #b6327f;
}
/* DELETE - BUTTON */
.todo-item .actions .delete {
    background-color: var(--danger);
}
.todo-item .actions .delete:hover {
    background-color: #fc3b38;
}

/* TAREFA FEITA */
.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: var(--grey);
} 

/* -------------------------------- */
/* ---------- RELÓGIO ------------- */
/* -------------------------------- */
#header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

#header-container div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--primary);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    letter-spacing: 0.2em; 
}
#header-container span {
    font-weight: bolder;
    font-size: 3.75rem; /* 60px = 3.75rem (60 ÷ 16) */
}
#header-container span.tempo {
    font-size: 10px;
}
#input-txt {
    width: 400px;
}

.dia-div {
    margin: 20px;
    height: 40px;
    text-align: center;
    background-color: var(--primary);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    letter-spacing: 0.2em; 
}
.dia-div span {
    font-size: 24px;
    color: white;
    font-weight: bolder;
}

.add-btn {
    width: 50px;
    cursor: pointer;
}
ul {
    list-style: none;
}

.close-btn {
    padding: 12px 16px 12px 16px;
}

.close-btn:hover {
    background-color: #f44336;
    color: white;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

@media screen and (prefers-reduced-motion: no-preference) {
    #video-background {
      background-image: url(assets/samurai.mp4);
      background-size: cover;
      background-position: center;
    }
  }